@media (max-width: 1330px) {
    .section2_articles {
        overflow-x: scroll;
    }

    .section2_most_popular {
        padding-inline: 32px;
    }
}

@media (max-width: 1251px) {

    .col4 {
        display: none;
    }
}

@media (max-width: 1025px) {

    /* HEADER */
    .header_nav {
        position: fixed;
        top: 102px;
        left: -100%;
        background-color: #05BCCA;
        width: 50%;
        padding: 25px 0 25px 20px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 40px;
    }

    .show_icon {
        left: 0;
    }

    .fa-bars {
        display: block;
    }

    .header_nav a {
        color: #C46A2B;
    }

    .header_nav a:hover {
        color: #dfb99f;
    }
}

@media (max-width: 980px) {

    /* HOME - FIGURE */
    .figure_container {
        height: 596px;
    }

    .home_article {
        width: 330px;
        height: 240px;
    }
}

@media (max-width: 933px) {
    .col3 {
        display: none;
    }
}

@media (max-width: 870px) {

    /* FOOTER */
    /* footer {
        padding: 48px 36px 64px;
    } */
    .footer_content {
        column-gap: 149px;
    }
}

@media (max-width: 679px) {
    .col2 {
        display: none;
    }
}