@media (max-width: 435px) {

    /* HEADER */
    .header_home {
        height: 96px;
    }

    .header_nav {
        position: fixed;
        top: 138px;
        left: -100%;
        background-color: #05BCCA;
        width: 50%;
        padding: 25px 0 25px 20px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 40px;
    }

    .show_icon {
        left: 0;
    }

    .fa-bars {
        display: block;
    }

    .header_nav a {
        color: #C46A2B;
    }

    .header_nav a:hover {
        color: #dfb99f;
    }

    .user_section {
        column-gap: 16px;
    }

    .fa-magnifying-glass,
    .fa-cart-shopping,
    .fa-user {
        font-size: 20px;
        padding: 8px
    }

    .fa-guitar {
        font-size: 50px;
    }

    .fa-bars {
        font-size: 30px
    }

    .header_nav {
        position: fixed;
        top: 97px;
    }


    /* HOME - SECTION 1 */

    .new_collection {
        margin-top: 96px;
    }

    .section1_content {
        column-gap: 16px;
    }

    .section1_title {
        font-size: 22px;
    }

    .section1_arrow {
        width: 32px;
        height: 24px;
    }

    /* HOME - section3_subscribe */

    .section3_subscribe {
        height: 168px;
    }

    .section3_title {
        font-size: 24px;
        line-height: 32px
    }

    .section3_email {
        width: 180px;
    }

    /* .section3_form {
        width: 320px;
    } */

    /* CATALOG - guitar_category section */
    .guitar_category {
        margin-top: 96px;
    }


    /* CONTACT PAGE */
    /* SECTION */
    .contact_section {
        margin-top: 96px;
    }
}



@media (max-width: 400px) {

    /* HOME - FIGURE */
    .figure_container {
        height: 330px;
    }

    .home_article {
        width: 140px;
        height: 120px;
    }
}

@media (max-width: 360px) {

    /* HEADER */
    .header_home {
        padding-inline: 8px;
    }

    .navigation_buttons {
        width: 75px;
        height: 30px;
        padding: 7px;
        font-size: 14px;
        line-height: 20px;
    }
}