@media (max-width: 750px) {

    /* HEADER */
    .header_home {
        padding: 16px 32px;
    }

    .header_nav {
        position: fixed;
        top: 134px;
        left: -100%;
        background-color: #05BCCA;
        width: 50%;
        padding: 25px 0 25px 20px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 40px;
    }

    .show_icon {
        left: 0;
    }

    .fa-bars {
        display: block;
    }

    .header_nav a {
        color: #C46A2B;
    }

    .header_nav a:hover {
        color: #dfb99f;
    }

    /* HOME - SECTION 1 */
    .new_collection {
        height: 400px;
        margin-top: 133px;
    }

    .section1_content {
        padding: 32px 0;
    }

    /* CATALOG - guitar_category section */
    .guitar_category {
        margin-top: 134px;
    }
}


@media (max-width: 710px) {

    /* HOME - FIGURE */
    .figure_container {
        height: 430px;
    }

    .home_article {
        width: 240px;
        height: 170px;
    }

    /* CATALOG - guitar_category section */

    .guitar_category {
        height: 92px;
        padding: 16px 35px;
    }

    .navigation_buttons {
        width: 125px;
        height: 50px;
        padding: 8px;
        font-size: 20px;
        line-height: 28px;
    }

    .el_guitars {
        padding: 48px 32px;
    }

    /* FOOTER */
    footer {
        padding-inline: 0;
    }

    .footer_content {
        flex-direction: column;
        row-gap: 40px;
    }

    .brands,
    .information,
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_content_ul {
        align-items: center;
    }

    /* CONTACT - contact_section */

    .contact_section {
        justify-content: center;
        align-items: center;
        padding: 32px 40px;
        margin-top: 134px;
    }

    .contact_content {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .contact_send_to {
        flex-direction: row;
        column-gap: 24px;
    }

    .contact_info {
        column-gap: 24px;
        padding: 16px 92px;
    }

    .contact_location {
        width: 24px;
        height: 24px;
    }

    .contact_title {
        font-size: 16px;
        line-height: 24px;
    }

    .mail_link,
    .phone_link {
        display: none;
    }

    .contact_section2 {
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
    }

    .contact_form {
        width: 100%;
    }

    .map_and_socials {
        align-items: center;
        row-gap: 48px;
        width: 100%;
    }

    iframe {
        width: 100%;
    }
}

@media (max-width: 525px) {

    /* HOME - FIGURE */
    .figure_container {
        height: 404px;
    }

    .home_article {
        width: 170px;
        height: 160px;
    }

    .home_article_title {
        font-size: 16px;
        line-height: 24px;
    }

    /* HOME - section3_subscribe */
    .section3_title {
        font-size: 28px;
        line-height: 16px;
    }

    .section3_email {
        width: 310px;
    }

    /* CATALOG - guitar_category section */
    .guitar_category {
        height: 72px;
    }

    .navigation_buttons {
        width: 88px;
        height: 40px;
        padding: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    .filter_text,
    .sorting {
        display: none;
    }

    .sorting_small {
        display: block;
    }

    .el_gutars_pages {
        display: none;
    }

    .el_gutars_pages_resp {
        display: flex;
        column-gap: 25px;
    }
}