@media (max-width: 750px) {
    /* HEADER */
    .header_home {
        padding: 16px 32px;
    }

    .header_nav {
        position: fixed;
        top: 134px;
        left: -100%;
        background-color: #05BCCA;
        width: 50%;
        padding: 25px 0 25px 20px;
        transition: .5s linear;
    }
    .header_ul {
        flex-direction: column;
        row-gap: 40px;
    }
    .show_icon {
        left: 0;
    }
    .fa-bars {
        display: block;
    }

    .header_nav a {
        color: #C46A2B;
    }

    .header_nav a:hover {
        color: #dfb99f;
    }
}